.fontTH {
  font-family: "Sarabun", sans-serif;
}

.fontHead {
  font-family: "Prompt", sans-serif;
}

.navBrand {
  font-family: "Montserrat Subrayada", sans-serif;
  font-size: 3rem;
}

.headSection {
  flex: 0 0 41.666667%;
  max-width: 41.666667%;
}

.logoPic {
  display: inline-block;
}

.navButton:hover {
  text-decoration: underline;
}

.item .item-wrap:after {
  z-index: 2;
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7);
  visibility: hidden;
  opacity: 0;
  transition: 0.3s all ease-in-out;
}

@media only screen and (max-width: 760px) {
  .navBrand {
    font-family: "Montserrat Subrayada", sans-serif;
    font-size: 1.5rem;
  }
  .navButton {
    text-align: center;
  }
  .list-group-horizontal {
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .section {
    padding: 4rem 0;
  }
  .headSection {
    flex: 0 0 90%;
    max-width: 90%;
  }
  .headSkill {
    text-align: center;
    padding-top: 35px;
  }
}
